body{
    background-color:#B65151;
}
header{
    padding:3px;
    background-color:#6A1E1E ;
}
h1{
    font-family:comfortaa;
    text-align: center;
    font-size:50px;
}
.profile{
    margin-left:160px;
}
.logo{
    margin-right:160px;
}
.navv{
    text-align: center;
}
.nav{
    text-decoration:none;
    margin-left: 80px;
}
.mods{
    text-align: center;
    size:130px;
    padding-left:25px;
}
.mod{
    margin-left:50px;
}
.sp{
    margin-top:20px;
}
footer{
    padding:12px;
    background-color: #6A1E1E;
}
footer img{
    margin-left:20px;
}
